<div class="w-full bg-blue-200 p-4 flex justify-between items-center">
  <p class="m-0">Categories</p>
  <button (click)="openDialogCreate()" mat-raised-button>
    Nuevo
    <mat-icon>add</mat-icon>
  </button>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categorias</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td data-column="Nombre">{{ item.name }}</td>
      <td data-column="Precio">{{ item.price | currency:'S/' }}</td>
      <td data-column="Stock">{{ item.price | currency:'unidades' }}</td>
      <td data-column="Categories">
        <div *ngFor="let c of item.categories" class="bg-yellow-400 inline-block text-sm px-1 rounded-lg">
          {{ c.name }}
        </div>
      </td>
      <td class="table-options" data-column="Opciones">
        <button (click)="openDialogUpdate(item)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="openDialogDetail(item)" mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <button (click)="openDilaogRemove(item)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
